/* General styles for the overlay */
.home-image{
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}
.home-image .overlay-numbers{
    position: absolute;
    top: 50%;
    /* bottom: 0px; */
    left: 50%;
    /* right: 8%; */
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 99;
    width: 70%;
    margin-left: auto;
    height: 76%;
    transform: translate(-50%, -50%);
}
.overlay {
    position: relative;
 
    overflow: hidden;
    cursor: pointer;
  }
  
  /* Styling for the emoji flying effect */
  .emoji {
    font-size: 40px;
    user-select: none;
  }
  
  /* Flying animation */
  @keyframes fly {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(-300px) scale(1.5); /* Adjust height and scaling as needed */
      opacity: 0;
    }
  }
  
  /* Apply the animation */
  .fly {
    animation: fly 2s ease-in-out forwards; /* Duration and easing for the flying effect */
  }